<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Podkova&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="icon" type="image/x-icon" href="~/image/c2.jpg">

    <link rel="stylesheet" href="~/css/style.css">

    <title>Employee-List</title>
    @using Microsoft.AspNetCore.Identity
    @using EmployeeManagement.Areas.Identity.Data
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager

</head>


<body>
    <main class="main-container">
        <article>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="mysidenav">
                    <span class="closebtn"><i class="fas fa-times"></i></span>
                    <div style="text-align: center;">
                        <img src="../image/c2.jpg" alt="">
                        <div>
                            <h1>@UserManager.GetUserAsync(User).Result.UserName</h1>
                        </div>
                    </div>

                    <nav>
                        <div class="nav">
                            <button onclick="myFunction()" class="dropdown-btn  nav__link ">
                                <i class="fas fa-user-friends"></i>Employee
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div id="myDIV" class="dropdown-container">
                                <a asp-controller="Employee" asp-action="Index">Employee-List</a>
                                <a asp-controller="Employee" asp-action="Index">Employee-List</a>
                                <a asp-controller="Employee" asp-action="Index">Employee-List</a>
                                <a asp-controller="Employee" asp-action="Index">Employee-List</a>

                            </div>
                            <button onclick="myFunctions()" class="dropdown-btn nav__link activeted">
                                <i class="fas fa-user-friends"></i>User
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div id="myDIVs" class="dropdown-container">
                                <a asp-controller="ApplicationUser" asp-action="Index">User-List</a>
                                <a asp-controller="ApplicationUser" asp-action="Index">User-List</a>
                                <a asp-controller="ApplicationUser" asp-action="Index">User-List</a>
                                <a asp-controller="ApplicationUser" asp-action="Index">User-List</a>


                            </div>

                            <button class="nav__link dropdown-btn form-link">
                                <a href="leavereq.html">leave</a>
                            </button>

                            <button class="dropdown-btn nav__link form-link">
                                <a href="./holidayreq.html">holiday</a>
                            </button>


                        </div>
                    </nav>



                </div>


            <div class="side-body">
                <div class="iconImage" id="main">
                    <span style="font-size:30px;cursor:pointer">&#9776;</span>
                    <div class="imgContainer" onclick="openForm()">
                        <img src="../image/c2.jpg" alt="">
                    </div>

                </div>


                <div class="form-popup" id="myForm">
                    <form class="form-container">
                        <div style="display: flex; justify-content: space-between; padding: 2px;">
                            <button type="button" class="btn cancel" onclick="closeForm()">
                                <i class="far fa-times-circle"></i>
                            </button>
                            <div>
                                <button asp-area="Identity" asp-page="/Account/Login" class="logout-btn"><i class="fas fa-power-off"></i></button>
                            </div>
                        </div>

                        <div style="text-align: center;">
                            <h1>@UserManager.GetUserAsync(User).Result.UserName</h1>
                            <p>@UserManager.GetUserAsync(User).Result.Email</p>
                        </div>
                        <div class="forget-pw" style="display: flex; justify-content: space-evenly;">
                            <button>Change Password?</button>

                        </div>

                    </form>
                </div>
            </div>
            }
        </article>
        @RenderBody()
          
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/employee.js"></script>
