
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Podkova&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="~/image/c2.jpg" />
    <link rel="stylesheet" href="~/css/MainStyle.css" />
    <link rel="stylesheet" href="~/css/employeecalendar.css" />

    <title>Employee-List</title>
</head>

<body>
    <main class="main-container">
        <article>
            
           
                 
                <div class="employee-full-container">
                    <!-- <div>
                        <div class="employee-profile-container">
                            <div class="employee-image">
                                <img src="" alt="" />
                                <span>
                                    <i class="far fa-edit"></i>
                                </span>
                            </div>
                            <div class="employee-details">
                                <div class="employee-name">
                                    <p>Minal Pandit</p>
                                </div>
                                <div class="employee-role-position">
                                    <div>
                                        <p>Role: <span>User</span></p>
                                    </div>
                                    <div>
                                        <p>Position: <span>Intern</span></p>
                                    </div>
                                </div>
                                <div class="employee-email">
                                    <p>Email: <span>meenalme1@gmail.com</span></p>
                                </div>
                                <div class="employee-phone">
                                    <p>Phone: <span>+9779864374050</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="employee-basicinfo-container">
                            <div class="basic-title">
                                <p>Basic Information</p>
                            </div>
                            <div class="basic-info-details">
                                <div>
                                    <p>Hire Date</p>
                                    <span>Septemper,26,2021</span>
                                </div>
                                <div>
                                    <p>Worked For</p>
                                    <span>65 Days</span>
                                </div>
                                <div>
                                    <p>Employee-ID</p>
                                    <span>Septemper,26,2021</span>
                                </div>
                            </div>
                            <div class="basic-title">
                                <p>Personal Information</p>
                            </div>
                            <div class="basic-info-details">
                                <div>
                                    <p>Birth Date</p>
                                    <span> 1995/03/08 </span>
                                </div>
                                <div>
                                    <p>Address</p>
                                    <span>Sitapaila,Kathmandu</span>
                                </div>
                                <div>
                                    <p>Gender</p>
                                    <span>Male</span>
                                </div>
                            </div>
                            <div class="basic-title">
                                <p>Occupation Information</p>
                            </div>
                            <div class="basic-info-details">
                                <div class="info-details">
                                    <p>Full Time</p>
                                    <span><i class="fas fa-clock"></i></span>
                                </div>
                                <div class="info-details">
                                    <p>Intern</p>
                                    <span><i class="fas fa-user-friends"></i></span>
                                </div>
                                <div class="info-details">
                                    <p>Tinkune,Kathmandu</p>
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="calender-event-container">
                        <div style="
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-top: 16px;
                  ">
                            <div class="date-events">
                                <div class="date">
                                    <h3 class="two"></h3>
                                </div>
                                <div class="events"></div>
                            </div>
                            <div></div>
                            <div class="lebal-container">
                                <ul class="lebal">
                                    <li> <span><i class="fas fa-circle overtime"></i></span>overtime</li>
                                    <li><span><i class="fas fa-circle today"></i></span>Today</li>
                                    <li><span><i class="fas fa-circle late"></i></span>late</li>


                                </ul>
                                <ul class="lebal">


                                    <li><span><i class="fas fa-circle pday"></i></span>public holiday</li>
                                    <li><span><i class="fas fa-circle hday"></i></span>Weekends</li>
                                    <li><span><i class="fas fa-circle sick"></i></span>Sick</li>


                                </ul>
                            </div>
                        </div>

                        <!-- calendar -->
                        <div class="calender">


                            <section class="new">
                                <section>
                                    <!-- (B) THE HTML
                                    (B1) INLINE DATE PICKER -->
                                    <input type="hidden" id="input-inline" placeholder="Inline" />
                                    <div id="pick-inline"></div>

                                    <!-- (B2) POPUP DATE PICKER -->
                                    <input type="hidden" id="input-pop" placeholder="Popup" ` />
                                </section>


                            </section>
                        </div>
                    </div>
                    <div class="button-content-container">
                        <div class="employee-approve-leave-button">
                            <div class="requestedbtn">
                                <button>Requested Leave</button>
                            </div>

                            <div class="btnsectiono">
                                <button>Approved Leave</button>
                            </div>
                        </div>
                        <div class="date-events">
                            <div id="leaveList" class="leave-list">
                                <div>
                                    <p>Requested Leave</p>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>03</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>

                                    <div class="reason-details">Trip To Hometown</div>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>03</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>
                                    <div class="reason-details">Trip To Home</div>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>03</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>
                                    <div class="reason-details">Trip To Hometownometown</div>
                                </div>
                            </div>
                            <div id="approveList" class="approved-list">
                                <div>
                                    <p>Approved Leave</p>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>03</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>

                                    <div class="reason-details">Sick Leave</div>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>25</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>

                                    <div class="reason-details">Trip To Hometown</div>
                                </div>
                                <div class="date-reason">
                                    <div class="date-requested">
                                        <div>
                                            <p>30</p>
                                            <span>Dec</span>
                                        </div>
                                    </div>

                                    <div class="reason-details">Trip To Mustang</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </main>

    <script src="../employee.js"></script>
    <script src="./Calendar/index.js"></script>
    <script>

    let leavestn = document.querySelector("#leaveList");
    console.log(leavestn);

    let approvestn = document.querySelector("#approveList");
    console.log(approvestn);
    let btnsectionfordiv = document.querySelector(".btnsectiono");
    console.log(btnsectionfordiv);
    let requestbtn = document.querySelector(".requestedbtn");
    console.log(requestbtn);

    btnsectionfordiv.addEventListener ("click", () => {
        leavestn.style.display = "none";
        approvestn.style.display = "block";
    });
    requestbtn.addEventListener ("click", () => {
        leavestn.style.display = "block";
        approvestn.style.display = "none";
    });
    </script>
</body>




</html>
