@model EmployeeManagement.Models.ApplicationUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
    var data = ViewBag.Gender;
}
<style>
    .text-danger {
        color: red;
        font-size: 5px;
    }
</style>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    
</head>
<link rel="stylesheet" href="~/css/style.css">
<div class="user modal-content">
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2>New User</h2>
        <p>Enter Information About User</p>
    </div>

    <div class="user-modal-body">
        <form name="user-add-form" class="form-content" asp-controller="ApplicationUser" asp-action="Create" method="post" >
            <input asp-for="Id" type="hidden" />
            <div class=" userForm-name-details">
                <div class="add-name">
                    <label for="employeelist">EmployeeList</label>
                    <select asp-items="ViewBag.Emp" name="Employee_Id" asp-for="Employee_Id" id="lang" class="userlist-text-from"></select>

                </div>
                <div class="add-name">
                    <label for="username">UserName</label>
                    <input type="text" name="username" asp-for="UserName" id="username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="add-name">
                    <label for="password">Password</label>
                    <input type="Password" id="myInput" name="PasswordHash" asp-for="PasswordHash"  />
                    <input type="checkbox" onclick="myPass()" /><span>Show Password</span>
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>

                </div>
                <div class="add-name">
                    <label for="password"> Confirm Password</label>
                    <input type="password" id="myInputs" asp-for="ConfirmPassword" />
                    <input type="checkbox" id="myInputs" onclick="myWord()"><span>Show Password</span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>


            </div>




            <div>
                <div class="submit-btn modal-footer">

                                        <button  onclick="submitter()" type="submit">Submit</button>


                </div>
            </div>

        </form>
    </div>



</div>
<script src="~/js/employee.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>*@
<script>
    $(function () {
        $(document).ready(function () {
            $(".close").click(function () {
                $("#myModal").hide();
            });
        });
    });
</script>
